<footer>
    <div class="footer-content">
        <p>&copy; 2024 <strong>Quran Reader</strong> <span class="creator">by Peer Faizan</span>. All rights reserved.</p>
        <ul class="socials">
            <li><a href="#"><img src="/images/linkedin.png"></a></li>
            <li><a href="#"><img src="/images/instagram.png"></a></li>
            <li><a href="#"><img src="/images/facebook.png"></a></li>
            <li><a href="#"><img src="/images/twitter.png"></a></li>
        </ul>
    </div>
</footer>
