<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quran Reader</title>
    <link rel="stylesheet" href="/style/partials.css">
    <link rel="stylesheet" href="/style/views.css">
    <link rel="stylesheet" href="/style/theme.css">
</head>
<body>
    <header class="login-header">
        <div class="logo nightowl-daylight">
            <img src="/images/Thequranreader.png" alt="Logo" class="logo-image">
        </div>
    </header>

    <!-- for darkmode -->
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"
></script>
</body>
</html>