<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quran Reader</title>
    <link rel="stylesheet" href="/style/partials.css">
    <link rel="stylesheet" href="/style/views.css">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/surah.css">
</head>
<body class="navbody">
    <nav class="navbar">
        <div class="nav-logo nightowl-daylight">
            <img src="/images/Thequranreader.png"  alt="Logo" class="nav-logo-image">
        </div>  
        <div class="navbar-links">
            <a href="/logout" class="nav-link">Logout</a>
            <% if(show === true){ %>
                <a href="/saved" class="nav-link">Saved</a>
            <% }else if(show === false){ %>
                <a href="/index" class="nav-link">All</a>
            <% }else if(show === "both"){ %>
                <a href="/saved" class="nav-link">Saved</a>
                <a href="/index" class="nav-link">All</a>
            <% } %>
        </div>
    </nav>

    <!-- for darkmode -->
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js">
    </script>
</body>
</html>