/*registration and login page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}


.container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    height: 68vh;
    flex-direction: column;
}


form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 5% 0 30px 0;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 768px) 
{
    .container{
        height: 74vh;
    }
    form {
        margin: 31% 0 30px 0;
    }
}

